<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>520025566.23057902</real>
				<key>version</key>
				<dict>
					<key>f7285f0975301a43b51da5ac23d60a8ff05912804a07e98b621c1cafb6611554</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>cat.md</key>
			<dict>
				<key>lastModification</key>
				<real>520026472.72350103</real>
				<key>version</key>
				<dict>
					<key>f7285f0975301a43b51da5ac23d60a8ff05912804a07e98b621c1cafb6611554</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>cd.md</key>
			<dict>
				<key>lastModification</key>
				<real>520025566.23057801</real>
				<key>version</key>
				<dict>
					<key>f7285f0975301a43b51da5ac23d60a8ff05912804a07e98b621c1cafb6611554</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>cp.md</key>
			<dict>
				<key>lastModification</key>
				<real>520025566.23057902</real>
				<key>version</key>
				<dict>
					<key>f7285f0975301a43b51da5ac23d60a8ff05912804a07e98b621c1cafb6611554</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>nano.md</key>
			<dict>
				<key>lastModification</key>
				<real>520025566.23057801</real>
				<key>version</key>
				<dict>
					<key>f7285f0975301a43b51da5ac23d60a8ff05912804a07e98b621c1cafb6611554</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>520025439.98139298</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>cat.md</string>
		</array>
		<array>
			<string>cd.md</string>
		</array>
		<array>
			<string>nano.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>cp.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>f7285f0975301a43b51da5ac23d60a8ff05912804a07e98b621c1cafb6611554</key>
			<integer>6</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>f7285f0975301a43b51da5ac23d60a8ff05912804a07e98b621c1cafb6611554</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
